<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Title{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'MoneyManager/style.css' %}" media="all"/>
    <link rel="shortcut icon" href="{% static "MoneyManager/images/favicon.ico" %}" />
    <!--jquery API for Datepicker-->
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript">
        jQuery(function($){
    	    $("#id_issue_date").datepicker();
    	});
    </script>
    <!--AJAX API for Google Chart-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% static 'MoneyManager/myjs.js' %}"></script>
    <script type="text/javascript">drawCharts();</script>
</head>
<body>
<div id="header">
    <div class="shell">
	{% block header %}{% endblock %}
    </div>
</div>

<div id="container">
    <div class="shell">
	<div class="msg msg-ok">
	    {% block message_ok %}{% endblock %}
	</div>
	<div class="msg msg-error">
	    {% block message_orror %}{% endblock %}
	</div>
	<div id="main">
    	    {% block main %}{% endblock %}
	</div>
    </div>
</div>

<div id="footer">
    {% block footer %}{% endblock %}
</div>

</body>
</html>
