<table id="zebra">
  <colgroup>
      <col class="vzebra-even" />
      <col class="vzebra-odd" />
      <col class="vzebra-even" />
      <col class="vzebra-odd" />
      <col class="vzebra-even" />
      <col class="vzebra-odd" />
      <col class="vzebra-hidden" />
  </colgroup>

  <thead><tr>
      <th scope="col" width='2%'>No</th>
      <th scope="col" width='14%'>Category</th>
      <th scope="col" width='8%'>Value</th>
      <th scope="col" width='10%'>Date</th>
      <th scope="col" width='50%'>Comment</th>
      <th scope="col" width='7%'>Edit</th>
      <th scope="col" width='7%'></th>
  </tr></thead>

  <tbody>
      <tr>
      <td>1</td>
      <td>Social</td>
      <td>200</td>
      <td>2014/01/19</td>
      <td class="entry-edit"></td>
      <td class="entry-destroy"></td>
      </tr>
  </tbody>
</table>
