<table id="zebra">
  <colgroup>
      <col class="vzebra-even" />
      <col class="vzebra-odd" />
      <col class="vzebra-even" />
      <col class="vzebra-odd" />
      <col class="vzebra-even" />
      <col class="vzebra-hidden" />
  </colgroup>

  <thead><tr>
      <th scope="col" width='4%'>No</th>
      <th scope="col" width='16%'>Category</th>
      <th scope="col" width='12%'>Value</th>
      <th scope="col" width='12%'>Date</th>
      <th scope="col" width='50%'>Comment</th>
      <th scope="col" width='6%'></th>
  </tr></thead>

  <tbody>
      <tr>
      <td>1</td>
      <td>Social</td>
      <td>200</td>
      <td>2014/01/19</td>
      <td class="entry-edit"></td>
      <td class="entry-destroy"></td>
      </tr>
      <tr>
      <td>1</td>
      <td>Social</td>
      <td>200</td>
      <td>2014/01/19</td>
      <td class="entry-edit"></td>
      <td class="entry-destroy"></td>
      </tr>
  </tbody>
</table>
