<table id="zebra">
  <caption></caption>
  <colgroup>
      <col class="vzebra-even" />
      <col class="vzebra-odd" />
      <col class="vzebra-even" />
      <col class="vzebra-odd" />
      <col class="vzebra-even" />
      <col class="vzebra-hidden" />
  </colgroup>

  <thead><tr>
      <th scope="col" width='2%'>No</th>
      <th scope="col" width='8%'>Value</th>
      <th scope="col" width='10%'>Date</th>
      <th scope="col" width='50%'>Comment</th>
      <th scope="col" width='7%'>Edit</th>
      <th scope="col" width='7%'></th>
  </tr></thead>

  <tbody></tbody>
</table>
